extends layout

block content
  .center_pls
    h1
      |Ditch Day 2019 Peanut Butter Jelly Sandwiches
    p
      a(href='/puzzle') Super Hard Puzzle
    p
      a(href='/stackers') Holy Land Headquarters
