extends ../layout

block content
    center
        h1.
            #{title}
        p   
            a(href='/stackers/new') New Stacker
        p
            a(href='/stackers/tools/editTeam') Edit Team Points
    .stackerTable
        ul
            - each stacker, i in stackers
                li
                    = "Team " + stacker.team
                    br
                    = "Agent " + stacker.name
                    br 
                    = "Points: " + stacker.points
                    br 
                    = "Id: " + stacker._id
                    form(action='/stackers/#{stacker._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                        input(type='hidden',value='DELETE',name='_method')
                        button(type='submit').
                            Delete
                    a(href='/stackers/#{stacker._id}/editPoints') Edit Points